<div class="trackCard">

  <div class="trackInfo">
    <img [src]="track.trackImage">

    <div class="trackInfo-text">
      <span>{{track.name}}</span>
      <a routerLink="/user/{{track.user.id}}">{{track.user.name}}</a>

    </div>
  </div>

  <p>{{track.listenCount}}</p>

  <div class="trackCard-buttons">

    @if (page === "none") {
      <button class="trackCard_btn" (click)="openModal()">
        <lucide-icon name="ellipsis"></lucide-icon>
      </button>

      <button (click)="addTrackToFavorite()" class="trackCard_btn">
        <lucide-icon name="heart"></lucide-icon>
      </button>

      <button class="trackCard_btn" (click)="handlePlay()">
        <lucide-icon name="{{isPlaying() ? 'pause' : 'play'}}"/>
      </button>
    } @else {

      <button class="trackCard_btn" (click)="openModal()">
        <lucide-icon name="ellipsis"></lucide-icon>
      </button>

      @if (page === "userPublication" || page === "favorite" || page==="playlist" &&  isVerifided ) {
        <button class="trackCard_btn" (click)="removeFromPlaylist()">
          <lucide-icon name="x"/>
        </button>
      }

      <button class="trackCard_btn" (click)="handlePlay()">
        <lucide-icon name="{{isPlaying() ? 'pause' : 'play'}}"/>
      </button>
    }

  </div>



</div>
