<div class="uploadTrack-layout">
  <form class="uploadTrack-track-info" (submit)="uploadTrack($event)">
    <div class="file-section">
      @if (imageUrl) {
        <img [src]="imageUrl" class="uploadTrack-track-info-image"/>
      } @else {
        <label class="input-file">
          <input (input)="setTrackImage($event)" type="file"/>
          <span>Загрузите обложку</span>
        </label>
      }
      <label class="input-file">
        <input
          type="file"
          id="uploadTrack"
          (change)="setTrack($event)"
        />
        <span>Загрузите трек</span>
      </label>
    </div>

    <input
      [value]="track.name"
      placeholder="Название трека"
      class="custom-input"
      type="text"
      (input)="setTrackName($event)"
    />

    <select (change)="setGenre($event)">
      <option value="{0}">Выберите жанр</option>
      @for (genre of genres(); track $index) {
        <option value="{{genre.id}}">{{genre.name}}</option>
      }
    </select>

    <button class="submit-button" type="submit">Загрузить</button>
  </form>
</div>
