.uploadTrack-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #1e1a3b;
  border-radius: 15px;
}

.uploadTrack-track {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.uploadTrack-track-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #18152d;
  border-radius: 15px;
}

.uploadTrack-track-info-image {
  width: 80px;
  border-radius: 15px;
}

.file-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.input-file {
  margin: 0 10px;
}

.input-file span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  background: none;
  line-height: 22px;
  height: 90px;
  width: 90px;
  border-radius: 15px;
  border-style: dashed;

  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
  background-color: #eb055a;
}
.input-file:active span {
  background-color: #eb055a;
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 100%;
}

.submit-button {
  border-radius: 15px;
  border: none;
  height: 100%;
  padding: 10px;
  color: white;
  background: none;
  transition-duration: 200ms;
}

.select-genre {
  border-radius: 15px;
  border: none;
  padding: 10px;
  color: white;
  background: none;
  transition-duration: 200ms;
  width: 100%;
}

.submit-button:hover {
  background-color: #eb055a;
}
.select-genre:hover {
  background-color: #eb055a;
}
