.uploadTrack-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #1e1a3b;
  border-radius: 15px;
}

.uploadTrack-track {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.uploadTrack-track-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #18152d;
  border-radius: 15px;
}

.uploadTrack-track-info-image {
  width: 80px;
  border-radius: 15px;
}

.file-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}



.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 100%;
}

.submit-button {
  border-radius: 15px;
  border: none;
  height: 100%;
  padding: 10px;
  color: white;
  background: none;
  transition-duration: 200ms;
}

.select-genre {
  border-radius: 15px;
  border: none;
  padding: 10px;
  color: white;
  background: none;
  transition-duration: 200ms;
  width: 100%;
}

.submit-button:hover {
  background-color: #eb055a;
}
.select-genre:hover {
  background-color: #eb055a;
}
