<div class="profile-layout">
  <div class="profile-header">

    <div class="profile-user-info">
      @if (user()?.profilePicture === undefined || user()?.profilePicture === "string" || user()?.profilePicture === null) {
        <img class="profile-user-img" src="assets/da.jpg"/>
      } @else {
        <img class="profile-user-img" [src]="user()?.profilePicture"/>
      }

      <div>
        <p>{{ user()?.name }}</p>
        <p>Количество слушателей: {{ listenersCount }}</p>
      </div>
    </div>

    @if (verifeUser()) {
      <button class="custom_button" (click)="openSettingModal()">Настройки</button>
    } @else {
      @if (isSub) {
        <button class="custom_button" (click)="unsubscribeFromUser()">Отписаться</button>
      } @else {
        <button class="custom_button" (click)="subscribeToUser()">Подписаться</button>
      }
    }

  </div>


  <div class="profile-body">

    @for (track of tracks; track $index) {
      <app-track-card [track]="track"/>
    } @empty {
      <p>Нет опубликованных треков</p>
    }

    <div class="profile-user-playlists">
      @for (playlist of playlists(); track $index) {
        <app-playlist-card [playlist]="playlist"/>
      } @empty {
        <p>Нет опубликованных плейлистов</p>
      }
    </div>

  </div>


</div>
