
  <form>
    <label>Введите имя</label>
    <input [value]="user.name" (input)="handleSetCurrentName($event)" >

    @if (isReg) {
      <label>Введите почту</label>
      <input [value]="user.email" (input)="handleSetCurrentEmail($event)">
    }

    <label>Введите пароль</label>
    <input [value]="user.password" type="password" (input)="handleSetCurrentPassword($event)">

    <button class="formButton" (click)="handleClick($event)">{{isReg ? "Зарегистрироваться" : "Авторизоваться"}}</button>
  </form>
