.palylist-card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #18152d;
}

.playlist-img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
