.audio-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.track-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.track-info-container img {
  width: 60px;
  border-radius: 15px;
  margin-right: 10px;
}

.track-info-text {
  display: flex;
  flex-direction: column;
}

.audio-controllers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-controllers-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-controllers-buttons button {
  width: 40px;
  height: 40px;
  font-size: 22px;
  border-radius: 50%;
  color: white;
}


