<!--<section class="w-full ml-10 flex flex-col justify-center items-start">-->
<div class="home-container">

  @for (track of tracks; track $index) {
    <app-track-card class="track-card" [track]="track"/>
  } @empty {
    <p>No tracks:)</p>
  }
</div>
<!--  <input [(ngModel)]="request" type="text" (ngModelChange)="handleRequestChange()"/>-->
<!--  <button (click)="handleSortChange()">By name</button>-->

<!--  @for (result of searchResult; track $index) {-->
<!--    <p>{{result.name}}</p>-->
<!--  } @empty {-->
<!--    <p>No data</p>-->
<!--  }-->
