<nav class="nav-container">
  <h1>SmallSound</h1>

  <div class="nav-links">
    <p>Menu</p>
    @for (menuLink of menuLinks; track $index) {
      <a routerLink="{{menuLink.path}}">{{ menuLink.name }}</a>
    }
  </div>


  <div class="nav-links">
    <p>Library</p>
    @for (libLink of libraryLinks; track $index) {
      <a routerLink="{{libLink.path}}">{{ libLink.name }}</a>
    }
  </div>

  @if (isAuth) {

  } @else {
    <div class="nav-links">
      <a routerLink="/register">Register</a>
      <a routerLink="/login">Log in</a>
    </div>
  }

</nav>
