.audioPlayer-container {
  background-color: #1e1a3b; // for track card
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  height: 60px;
}

.track-info {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 130px;
  width: 30%;
}

.track-info img {
  width: 60px;
  border-radius: 5px;
  border: none;
}

.track-info img:empty {
  background-color: black;
}

.track-info-text {
  display: flex;
  margin-left: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.audioPlayer-buttons {
  display: flex;
  width: 40%;
  max-width: 722px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audioPlayer-controll-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioPlayer-controll-buttons img {
  width: 20px;
  color: white;
}

.audioPlayer-controll-button {
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0 5px;
  transition-duration: 170ms;
}

.audioPlayer-controll-button:hover {
  color: #eb055a;
}

.audioPlayer-track-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 420px;
  appearance: none;
  border-radius: 20px;
  overflow: hidden;
}

.audioPlayer-track-timer::-webkit-slider-runnable-track {
  height: 8px;
  background: #ccc;
  border-radius: 16px;
}

.audioPlayer-track-timer::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    // height: 10px;
    width: 10px;
    background-color: #eb055a;
    border-radius: 50%;
    // border: 2px solid ;
    /*  slider progress trick  */
    box-shadow: -420px 0 0 420px #eb055a;
}

.volume_range {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  outline: none;
  appearance: none;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-left: 8px;
}

.volume_range::-webkit-slider-runnable-track {
  height: 8px;
  background: #ccc;
  border-radius: 16px;
}

.volume_range::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    // height: 10px;
    width: 10px;
    background-color: #eb055a;
    border-radius: 50%;
    // border: 2px solid ;
    /*  slider progress trick  */
    box-shadow: -420px 0 0 420px #eb055a;
}


.other_settings {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  min-width: 180px;
}

.volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
