@if (track()) {
  <div class="audioPlayer-container">
    <div class="track-info">
      <img [src]="track()?.trackImage" width="60px"/>
      <div class="track-info-text">
        <span>{{track()?.name}}</span>
        <span>{{track()?.user!.name}}</span>
      </div>
    </div>


    <div class="audioPlayer-buttons">
      <div class="audioPlayer-controll-buttons">
        <button class="random_button" (click)="handlePrevTrack()">
          <img src="assets/navImages/random.svg">
        </button>
        <button class="prev-next_button" (click)="handlePrevTrack()">
          <img src="assets/navImages/prev.svg">
        </button>
        <button class="play_button" (click)="handlePlay()">
          <img src="{{track()?.isPlaying ? 'assets/navImages/pause.svg' : 'assets/navImages/play.svg'}}">
        </button>
        <button class="prev-next_button" (click)="handleNextTrack()">
          <img src="assets/navImages/next.svg">
        </button>
        <button class="loop_button" (click)="handleLoop()">
          <img src="assets/navImages/loop.svg">
        </button>
      </div>
      <input class="audioPlayer-track-timer" type="range" [max]="duration()" [minLength]="duration()" [value]="currentTime()" (input)="handleSetTime($event)">
    </div>

    <input type="range" [value]="currentVolume()" (input)="handleSetCurrentVolume($event)">
  </div>
}
@else {
  <div class="audioPlayer-container"></div>
}
