.track-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.track-card-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0px 10px;
}

.track-card-container img {
  width: 40px;
  border-radius: 10px;
}

.track-card-container button {
  color: black;
  display: flex;
  width: 45px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20%;
  font-size: x-large;
  border: none;
}


